body{
    h1{
        background-color: cyan;

    }
    p{
        background-color: blue;
    }
    table{
        th{
            background-color: red;

        }
        td{
            background-color: green;
        }
    }
    img{
        width: 4rem;
        height: 10rem;
    }
}